[user]
    email = niklas@stylianou.info
[merge]
    tool = vimdiff
[mergetool]
    prompt = true
	keepBackup = false
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
    prompt = false
[diff]
    tool = vimdiff
