[user]
	email = niklas@stylianou.info
	name = nstylo
[merge]
	tool = nvim
[diff]
	tool = nvim
[mergetool]
	prompt = true
	keepBackup = false
[difftool]
	prompt = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[mergetool "nvim"]
	cmd = nvim -d $LOCAL $MERGED $REMOTE -c 'wincmd w'
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
