[user]
	email = niklas.stylianou@cloudflight.io
	name = nstylo
[merge]
	tool = pycharm
[diff]
        tool = pycharm
[mergetool]
	prompt = true
	keepBackup = false
[difftool]
	prompt = false
[mergetool "pycharm"]
	cmd = pycharm merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[mergetool "nvim"]
	cmd = nvim -d $LOCAL $MERGED $REMOTE -c 'wincmd w'
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /home/niklas/Projects/data-api
